<?xml version="1.0"?>
<config>
    <modules>
        <MageDirect_MauticIntegration>
            <version>1.0.0</version>
        </MageDirect_MauticIntegration>
    </modules>
    <global>
        <models>
            <mdmautic>
                <class>MageDirect_MauticIntegration_Model</class>
            </mdmautic>
        </models>
        <blocks>
            <mdmautic>
                <class>MageDirect_MauticIntegration_Block</class>
            </mdmautic>
        </blocks>
        <helpers>
            <mdmautic>
                <class>MageDirect_MauticIntegration_Helper</class>
            </mdmautic>
        </helpers>
        <events>
            <customer_save_after>
                <observers>
                    <export_customer>
                        <class>mdmautic/observer</class>
                        <method>exportCustomer</method>
                    </export_customer>
                </observers>
            </customer_save_after>
        </events>
    </global>
    <frontend>
        <routers>
            <mdmautic>
                <use>standard</use>
                <args>
                    <module>MageDirect_MauticIntegration</module>
                    <frontName>mautic</frontName>
                </args>
            </mdmautic>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <mdmautic before="Mage_Adminhtml">MageDirect_MauticIntegration_Adminhtml</mdmautic>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>